.h4new {
    text-align: center !important;
    color: #1f5673;
}
.descrition { 
    padding-right: 40px !important; 
    padding-left: 40px !important;
    text-align: center !important;
}
.formcl { 
    color: #0c3e72 !important;
    margin-left: 40px;
}
.buttoncl {
    color: #FFFFFF;
    background: #1F5673;
    padding: 12px 40px;
}