/*********** detalhes dos eventos *************/
.titulo1{
	color:#1f5673 !important;
}
.subtitulo1{
	color:#6aaab7 !important;
}
.texto1{
	color:#73716d !important;
}
.data1{
	color:#6aaab7 !important;
}
.custo1{
	color:#6aaab7 !important;
}
.organizacao1{
	color:#6aaab7 !important;
}
.rating1{
	color:#6aaab7 !important;
}
.span1{
	color:#73716d !important;
}
.btn_1{
	background-color:#6aaab7 !important;
}
.footer-area{
	background-color:#1f5673 !important;
}
.h4new{
	color:#6aaab7 !important;
}
.email{
	color:#6aaab7 !important;
}
#home1{
	color:#6aaab7 !important;
}
#sobre1{
	color:#6aaab7 !important;
}
#pacotes1{
	color:#6aaab7 !important;
}
#eventos_disponiveis1{
	color:#6aaab7 !important;
}
#detalhes1{
	color:#6aaab7 !important;
}
#contatos1{
	color:#6aaab7 !important;
}
#pages1{
	color:#6aaab7 !important;
}