/*********** eventos disponiveis *************/
.h2new{
	color:#6aaab7 !important;
}

.place_btn{
	background-color: #6aaab7 !important;
}
.spannew{
	color:#6aaab7 !important;
}
.footer-area{
	background-color: #1f5673 !important;
}
.h4new{
	color:#6aaab7 !important;
}
#p1{
	color:#1f5673 !important;
}
#home1{
	color:#6aaab7 !important;
}
#sobre1{
	color:#6aaab7 !important;
}
#pacotes1{
	color:#6aaab7 !important;
}
#eventos_disponiveis1{
	color:#6aaab7 !important;
}
#detalhes1{
	color:#6aaab7 !important;
}
#contatos1{
	color:#6aaab7 !important;
}
#pages1{
	color:#6aaab7 !important;
}
#container1{
	background-image: src="img/rafting_2.png" !important;
}